@model IEnumerable<HotelManagr.ViewModels.RoomViewModel.EditRoomViewModel>

@{
    ViewData["Title"] = "All Rooms";
}

<h1>All Rooms</h1>

<p>
    <a asp-action="Register">Create New Room</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreeRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerAdult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerKid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerAdult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerKid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                <a asp-controller="Room" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Room" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Room" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to DELETE this room?')">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
